@keyframes button-shape-transition{
    from{border-radius: 0px;}
    to{border-radius: 50%;}
}
#id{
    color: blueviolet;
    background-color: blue;
    
}
#id:hover{
    animation:button-shape-transition;
}